* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

header {
    height: 151px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    font-size: 39px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
}

.itens {
    width: 256px;
    height: 256px;
    flex-grow: 1;
}

.itens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2.80px solid rgb(163, 163, 163);
    box-shadow: 6px 6px 6px rgb(91, 86, 86);

}

.itens:hover {
    transform: scale(1.3);
}

footer {
    height: 130px;
    color: #110f0fe1;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}